<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <form action="/filedownload" method="GET">
    <input type="text" name="text" required /><br>
    <input type="submit"/>
    </form>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <style type="text/css">

	.node {
    cursor: pointer;
  }
  .found {
		fill: #ff4136;
		stroke: #ff4136;
	}

  .overlay{
      background-color:#EEE;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .node text {
    font-size:10px;
    font-family:sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }
  .search{
    width: 100%;
  }

    </style>
    <link rel="stylesheet" type="text/css" href="/stylesheets/d3-context-menu.css"></style>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css"></link>
    <script src="d3-context-menu.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="search"></div>
    <div id="tree-container"></div>
    <script src="dndTree.js"></script>
  </body>
</html>
